.nav-link{
    font-size: 1rem!important;
    padding: 0.2rem 0.5rem!important;
  }
  .btn-sign{
    border: 1px solid #d5bf79 !important;
    padding: 0.5rem!important;
    font-size: 1rem!important;
    margin: 0.5rem!important;
    border-radius: 8px!important;
  }
  .image{
      width: 10%;
  }
  .signIn{
    background-color:  #d5bf79!important;
  }
  .signUp:hover{
    background-color:  #d5bf79!important;
  }
  .signIn:hover{
    background-color:  #fff!important;
  }
  .banner{
    background-color: #000!important;
    position: relative!important;
  }
  .floating{
    width: 60%;
    display: block;
    color: white!important;
    position: absolute;
    top: 10%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .banner-p{
    font-size: 1.5rem;
  }


  .carousel-bg {
    min-height: 80vh;
    width: 100%;
    background: url(../../images//car1.jpg);
    background-repeat: no-repeat!important;
    background-position: center!important;
    animation: chbg 5s infinite alternate;
    background-size: 80%!important;
    text-align: center;
  }
  @keyframes chbg {
    0% {
      background: url(../../images//car1.jpg);
      background-size: cover;
    }
    20% {
      background: url(../../images//car1.jpg);
      background-size: cover;
    }
    40% {
      background: url(../../images//car2.jpg);
      background-size: cover;
    }
    60% {
      background: url(../../images//car2.jpg);
      background-size: cover;
    }
    80% {
      background: url(../../images//car2.jpg);
      background-size: cover;
    }
    100% {
      background: url(../../images//car1.jpg);
      background-size: cover;
    }
  }

  
  @media only screen and (max-width: 575px){
    .banner-p{
      font-size: 0.7rem;
    }
    .display-4{
        font-size: 1rem!important;
    }
    .image{
        width: 25%;
    }
    .carousel-bg{
      min-height: 20vh!important;
    }
  }
  
  