a {
    text-decoration: none!important;
}

.rate {
    background-color: #d5bf79!important;
}

.row {
    width: 100%!important;
    margin: 0!important;
}

.car-detail {
    position: relative;
    width: 110%!important;
}

.card-text {
    width: 100%;
    position: absolute;
    bottom: 0;
}

@media only screen and (max-width: 575px) {
    .name {
        font-size: 0.7rem!important;
        margin-bottom: 0.2rem!important;
    }
    .price {
        font-size: 0.5rem;
        margin-bottom: 0.1rem!important;
    }
    .card-text {
        font-size: 0.4rem!important;
    }
    .main-text{
        padding: 0!important;
    }
    .price-text{
        padding: 0!important;
    }
}